/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require_self
 *= require_tree .
 */

/* styling for the map */
* {
   font-family: sans-serif;
   h1, h2, h3 {
      font-family: 'Lato', 'sans-serif' !important;
   }
 }

 .app-content {
   width: 100%;
   padding-left: 0px;
   padding-right: 0px;
 }

.map-col {
   padding: 0;
}

.map-row {
   margin: 0px;
}

.modal-row {
   margin: 0px;
}

.modal-form {
  padding: 0px;
}

.comments-section {
   margin: 0px;
}
 /*.app-header {
  height: 10vh; 

  .header-text {
      margin-top: 4%;
      margin-bottom: 5%;
  }
 } */

 #map-canvas {
   height: 90vh;
   width: 100%;
   margin: 0;
   padding: 0;
 }

 .btn-add {
   height: 10vh;
   padding:13px;
   background-color: #4CAF50;
   color: white;
   width: 100%;
   font-size: 1.4em;
   font-family: 'Lato', 'sans-serif';
   border-radius: 0px;
 }

 .btn-col {
   padding: 0;
 }

 .btn-green {
   background-color: #4CAF50;
   color: white;
 }

 /* styling for the navbar */
.navbar {
   background-color: rgba(76, 175, 80, 0.9);

   border-radius: 0px;
       padding: 7px;
       padding-top: 7px;
       padding-bottom: 5px;
       

       -webkit-box-shadow: 0 8px 6px -6px #999;
          -moz-box-shadow: 0 8px 6px -6px #999;
               box-shadow: 0 8px 6px -6px #999;
       border: transparent;
       margin-bottom: 0px;
}

.navbar-brand {
       font-family: 'Lato', sans-serif;
       font-weight: 600;
       font-size: 30px;
   }

   /* for ajax testing */
   .users {
      margin-top: 10%;
      margin-left: 5%;
   }

.comments-section {
   display: none;
}

.comments-header {
  background-color: #9b59b6;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.comments-col {
  padding: 0px;
}

.user-comments {
  background-color: #fff;
  margin-top: 20px;
}

hr {
  margin-top: 5px;
  margin-bottom: 10px;
}

#comment-list {
  padding-left: 20px;
  list-style: none;
  hr {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
}

.final-comments-form {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 15px;
}

#comment_submit {
  background-color: #f39c12;
  color: white;
}

.comments-form {
  margin-top: 15px;
}